@font-face {
    font-family: 'bodonimoda';
    src: url('../type/bodonimoda-variablefont_opszwght-webfont.woff') format('woff'),
         url('../type/bodonimoda-variablefont_opszwght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    flex-direction: column;
    
}

ul {
    font-size: 12px;
}

#logo {
    margin-left: 47px;
    margin-top: 5px;
    width: 144px;
    height: 168px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1024px;
    height: 3000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#header {
    width: auto;
    height: 128px;
    background-color: #C4E2BF;
    display: flex;
    flex-direction: row;
    
}

#headingThing {
    display: flex;
    justify-content: space-around;
    width: 361px;
    text-size-adjust: 19px;
    padding: 10px;
    list-style-type: none;
    color: white;
    font-family: 'bodonimoda';
}

.header {
    background-color: #36718A;
    width: 64px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}


#liVisual {
    width: 107px;
    height: 32px;
    
}

#liDesign {
   
    width: 77px;
    height: 32px;
    
}


#aboutTop {
     top: 102px;
}

#about {
    width: auto;
    height: 384;
}

#skills {
    width: auto;
    height: 584;
    background-color: #36718A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1  {
    font-size: 90px;
    font-style: bold;
    color: #36718A;
    margin: 30px;
}

h2 {
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

#skillStuff {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.skillz {
    height: 144px;
    width: 192px;
    background-color: white;
    margin: 20px;
    margin-bottom: 75px;

}



#visual {
    width: auto;
    height: 1550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 925px;
    position: absolute;
    z-index: +1;
}

#visualExtended {
    height: 1284px;
    width: auto;
    background-color: white;
    visibility: visible
}

#logoDesign {
    width: auto;
    height: 915px;
    background-color: #C4E2BF;
    margin-top: 1440px;
}

.colorText {
    color: white;
}


#artImages {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imgs {
    display: flex;
    flex-direction: row;
}

.rows {
    display: flex;
    flex-direction: column;
    width: 261px;
    margin: 15px;
}

.rowOneImg {
    margin-top: 15px;
    margin-bottom: 15px;
}

#topImgOne {
    margin-top: 0px;
}

#bottomImgOne {
    margin-bottom: 0px;
}

.rowTwoImg {
    margin-top: 17px;
}

#topImgTwo {
    margin-top: 0px;
}

#artExperience {
    height: 1550px;
    width: 322px;
    background-color: #B1DCEF;
    margin-left: 45px;
    margin-right: 55px;
}

#visualTitle {
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#outline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 962px;
    position: absolute;
    z-index: +1;
    top: 580px;
    margin: 25px;
}

#rectangle {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: +1;
}

#skillsTitle {
    margin-left: 156px;
}


