body {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    top: 0px;
}


#header {
    width: auto;
    height: 128px;
    background-color: #C4E2BF;
}

#about {
    width: auto;
    height: 384;
}

#skills {
    width: auto;
    height: 584;
    background-color: #36718A;
}

#visual {
    width: auto;
    height: 1284px;
}

#logoDesign {
    width: auto;
    height: 915px;
    background-color: #C4E2BF;
}
